.container {
margin-block: 5rem;
}

.contactContainer {
    width: 90%;
    max-width: 500px; /* Adjust based on your design preference */
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contactForm label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contactForm input,
.contactForm textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.contactForm textarea {
    height: 150px;
    resize: vertical;
}

/* Existing Styles */

.container {
    margin-block: 5rem;
  }
  
  .contactContainer {
    width: 90%;
    max-width: 500px; /* Adjust based on your design preference */
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contactForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .contactForm label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contactForm input,
  .contactForm textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
  }
  
  .contactForm textarea {
    height: 150px;
    resize: vertical;
  }
  
@media(max-width: 994px) {

    .contactContainer {
        max-width: 300px;
        padding: 5px;
    }

    .contactForm input,
    .contactForm textarea {
      width: 90%;
      border: 1px solid white;
      border-radius: 5px;
    }
}