
button {
    background-color: inherit;
    border: 2px solid var(--green);
    color: var(--green);
    padding: 1rem;
    text-align: center;
    text-wrap: wrap;
    font-size: 1rem;
    font-weight: light;
}

button:hover {
    background-color: var(--green);
    color: white;
    border: 2px solid var(--green);
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.3); 
     transform: translateY(-2px); 
}  


