
.container{
    padding-inline: 6rem;
    padding-top: 2rem;
    overflow-x: hidden;
    border: 2px solid white;

}
.navList {
    display: flex;
    margin-block-start: 0;
    padding-inline: 0;
}
.brand {
    color: var(--green);
    font-size: 2.5rem;
    font-weight: bold;
    margin-inline: auto;

}
.brandContainer {
    flex: 1;
}

.navItem {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline-start:  2rem;
}
.navItem > a {
    color: white;
    font-weight: light;
    font-size: 1rem;
}
@media (max-width: 994px){
    .container {
        padding-inline: 5px;
    }
    .listItemMobile {

    }
    
}