
.test{
    outline: 1px solid red;
}
:root{
/* new theme */
--purple: #674188
--lightPurple: #C3ACD0
--light: #F7EFE5
--extraLight: #FFFBF5;


}

@media(max-width: 755px){
    .footer{
        display: flex;
        flex-direction: column;
    }
    
}
@media(min-width: 500px) {
    .main{
        font-size: xx-large;
        text-transform: capitalize; 
    }
    .bio{
        max-width: 500px;
    }
   
    .btn{
        font-size: xx-large;
        padding: 30px;
    }
}


*{
    overflow-x: hidden;
    color: #e8f5e9;
    margin: 0;
}
html{
    background-color: var(--mainLight);
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
body{
    background-color: var(--mainLight);
    margin-top: 10vh;
}

/* ==========
nav
========== */

/* ==========
home
========== */
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    min-height: 85vh;
    text-align: center; 
}
.main h3{
    padding: 10px
}
.bio{
    font-weight: 900;
    font-family: 'Fira Sans', sans-serif;
    line-height: 45px;
 
}

/* ==========
    projects
   ========== */
.footer{
    display: flex;justify-content: center;
    align-content: center;
    align-items: center;
    background-color: var(--main);
    width:  100vw;
    bottom: 0;
    padding: 10px;
}

.btn-icon{
    background-color: var(--secondaryLight);
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
}
.btn-icon:hover{
    background-color: var(--secondaryDark);
}
.icon{
    padding: 0;
    margin: 0;
}

.btn {
    background-color: var(--secondaryLight);
    color: var(--mainDark);
    padding: 10px;
    border-radius: 8px;
    margin: 8px;
}
.btn:hover{
    background-color: var(--secondaryDark) ;
    color: var(--extraLightMain);
}

#resume{
    text-decoration: none;
}

.copyright{
    font-size: 20px;
    font-weight: 700;
}

/* project component */

.cardActions{
 display: flex;
 justify-content: space-between;
}

/* contact component */
.form{
    margin-top: 25vh;
    border-radius: 8px;
    display: flex;
    flex-direction:column;
}
