.container {
    padding-inline: var(--padding-inline);
    border: 2px solid yellow;
    margin-block-end: 5rem;
}
.topContent{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.topContent > h1 {
    margin: 0;
    font-size: 4rem;
    font-weight: bold;
}
.topContent > h2 {
    margin: 0;
    color: var(--light-grey);
    font-size: 3rem;
    font-weight: 600;
    margin-block-end: 2rem;
}
.topContent > p {   
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0;
    margin-block-end: 2rem;
}
.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5rem;
}