
.container {
}

.expContainer {
    padding-block: 3rem;
    padding-inline: var(--padding-inline)
}
.expBox {
    border-radius: 12px;
    background-color: #D9D9D9;
    -webkit-box-shadow: -7px -5px 11px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: -7px -5px 11px 0px rgba(0,0,0,0.6);
    box-shadow: -7px -5px 11px 0px rgba(0,0,0,0.6);
}
.expTop {
    -webkit-box-shadow: -7px -5px 11px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: -7px -5px 11px 0px rgba(0,0,0,0.6);
    box-shadow: -7px -5px 11px 0px rgba(0,0,0,0.6);
    background-color: var(--dark-grey);
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-block: 2rem;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;

}
.expTitle {
    color: var(--green);
}

.expBottom {
    padding: 1rem;
}
.expCompany{ 
    color: var(--green);
}
.expBottom > h3 {
    color: black;
    font-weight: bold;
    font-size: 2rem;
}
.expItem {
    margin-block-end: 1rem;
    color: black;
    font-weight: 300;
    list-style: disc;
}
.activeExp {
    text-decoration: underline;
    text-decoration-color: var(--green);
  }