
.container {
    border: 2px solid red;
}

.expContainer {
    padding-block: 3rem;
    padding-inline: var(--padding-inline)
}
.expBox {
    height: 400px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background-color: #D9D9D9;
    -webkit-box-shadow: -7px -5px 11px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: -7px -5px 11px 0px rgba(0,0,0,0.6);
    box-shadow: -7px -5px 11px 0px rgba(0,0,0,0.6);
}
.expTop {
    border: 1px solid yellow;
    -webkit-box-shadow: -7px -5px 11px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: -7px -5px 11px 0px rgba(0,0,0,0.6);
    box-shadow: -7px -5px 11px 0px rgba(0,0,0,0.6);
    background-color: var(--dark-grey);
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-block: 2rem;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;

}
.expTitle {
    color: var(--green);
}

.expBottom {
    border: 2px solid red;

}
.expBottom > h3 {
    color: black;
    font-weight: bold;
    font-size: 2rem;
}
.activeExp {
    text-decoration: underline;
    text-decoration-color: var(--green); /* Uses the --green color variable */
  }